# Base de données PostgreSQL (Railway fournit cette URL automatiquement)
DATABASE_URL="postgresql://user:password@host:5432/seve_emploi?schema=public"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="votre-secret-genere-avec-openssl-rand-base64-32"

# App
NODE_ENV="development"
